.Header
{
    height: 94vh;
}

.Banner
{
    background-image: url(../../../img/ocean-sea-pacific-calm-ripples-nature-water.jpg);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-width: 800px;
    background-size: 100% 94%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.Logo
{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 29.5%;
    min-width: 800px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    z-index: -1;
}

.Container
{
    width: 80.5%;
    background-color: white;
    margin: -67px auto 0 auto;
}

.Content
{
    width: 75%;
    margin: 0 auto;
    padding: 48px 0 0 0;
}

.Content h3
{
    text-align: center;
    margin-bottom: 13px;
}